

body{
  background-color: #fff6E3;
}

.frame{
  margin: 30px 150px;
  display: flex;
  flex-direction: column;
}


/*navigator*/

.navigator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li{
  display: inline;
  align-self: center;
  margin:0;
  margin-left: 15px;
}

ul{
  margin:0;
}

.site-name{
  margin:0;
  font-family: "Playwrite AR", serif;
  font-size: 24px;
  font-optical-sizing: auto;
  color: #C5BAFF;

  /* font-weight: <weight>;
  font-style: normal; */
}



.nav-menu{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a{
  color: black;
  text-decoration: none;
}

a:hover{
  color: white;
  transition: 0.3s;
}


/*dashboard*/


.dashboard{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
}

.korean-comment{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 50px;
}

.highlight_pastel{
  color: #C5BAFF;
}

.sample{
  background-color: #FFCCEA;
  -webkit-text-stroke: 1px black;
}

.sample:hover{
  background-color: transparent;
  color: white;
  -webkit-text-stroke: 1px black;
  transition: none;
}

.highlight{
  color: white;
  -webkit-text-stroke: 1px black;
}

.highlight:hover{
  background-color: pink;
  color: black;
  transition: none;
}

.type1:hover{
  background-color: #C4D9FF;
}

.type2:hover{
  background-color: #BFECFF;
}

.type3:hover{
  background-color: #FDDBBB;
}

.english-comment{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 15px;
  font-style: italic;

  letter-spacing: -0.3px;
}


/*recent works*/

.recent-menu{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #C2B4AB;
  
  text-align: right;
  margin-top: 100px;
}



/*footer*/


.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.contact{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: black;
  margin-bottom: 40px;
  border-bottom: 2px solid black;
}

.links>a{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-left: 15px;
}

.footer>p{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  font-size: 15px;
  font-style: italic;
  margin: 0;
  margin-top: 5px;
}




/* INFO Section*/


/*profile-section*/

.profile-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  margin: 100px 100px;
}


#profile-picture{
  width: 400px;
  margin-right: 60px;
}

.introduction>h2{
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.introduction>p{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 16px;

  margin-bottom: 40px;
}

#capability{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;

  line-height: 30px;
}


/*value section*/

.value-menu{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  margin: 30px 100px;
}

.value-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 100px 150px;
  margin-top: 20px;
}

.value{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  align-items: center;

}


.value-icon{
  width: 100px;
  height: 100px;

  border: 2px solid #C2B4AB;
  border-radius: 100px;
  padding: 15px;
}

.value-intro{
  margin-left: 30px;
}


.value-name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.value-exp{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 16px;

  margin: 0px;
}




/*footer section*/

.footer-comment{
  text-align: center;
}


a[title="Freepik"]:hover{
  color: black;
  text-decoration: underline;
}

a[title="Flaticon"]:hover{
  color: black;
  text-decoration: underline;
}


/* RECENT WORKS */

.recent-works{
  display: flex;
  flex-direction: column;
}

.article{
  display: flex;
  flex-direction: row;
  margin-bottom: 120px;
  align-items: center;
}

.thumbnail{
  width: 500px;
}

.article-info{
  margin: 0px 20px;
}

.article-name{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.article-name:hover{
  color: #E8F9FF;
  -webkit-text-stroke: 1px black;
  transition: 0.3s;
}



.article-comment{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 17px;
  font-weight: 20px;
}

.more{
  width: content;
  height: content;
  float: right;
  margin-right: 10px;


  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}


#name1{
  position: relative;
  right: 39px;
}

#name1:hover{
  color: #C4D9FF;
}

#name2-1{
  text-align: right;
  position: relative;
  left: 0px;
  margin-bottom: 0px;
}

#name2-2{
  text-align: right;
  position: relative;
  left: 42px;

  font-family: "Playwrite AR", serif;
  font-optical-sizing: auto;
}

#name2-2:hover{
  color: #C5BAFF
}