body{
  background-color: #fff6E3;
}

.frame{
  margin: 30px 150px;
  display: flex;
  flex-direction: column;
}

.navigator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-name{
  margin:0;
  font-family: "Playwrite AR", serif;
  width: 185px;
  font-size: 24px;
  font-optical-sizing: auto;
  color: #C5BAFF;

  /* font-weight: <weight>;
  font-style: normal; */
}