body{
  background-color: #fff6E3;
}

.frame{
  margin: 30px 150px;
  display: flex;
  flex-direction: column;
}

.navigator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-name{
  margin:0;
  font-family: "Playwrite AR", serif;
  width: 185px;
  font-size: 24px;
  font-optical-sizing: auto;
  color: #C5BAFF;

  /* font-weight: <weight>;
  font-style: normal; */
}

.Inframe{
  margin: 0px 50px;
  display: flex;
  flex-direction: column;
}

.dashboard{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 45px;
}

.korean-comment{
  font-weight: 500;
  font-size: 50px;
}